In [98]:
import pandas as pd
data = pd.read_csv('global_freelancers_raw.csv')
data.head()

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%

In [4]:
data.describe()

              age  years_of_experience      rating
count  970.000000           949.000000  899.000000
mean    40.509278            11.340358    2.512570
std     11.942605             9.680610    1.546599
min     20.000000             0.000000    0.000000
25%     31.000000             3.000000    1.400000
50%     41.000000             9.000000    2.600000
75%     51.000000            17.000000    3.800000
max     60.000000            41.000000    5.000000

In [5]:
data.describe(include = object)

,freelancer_ID,name,gender,country,language,primary_skill,hourly_rate (USD),is_active,client_satisfaction
count,1000,1000,1000,1000,1000,1000,906,911,824
unique,1000,992,10,21,16,10,18,8,81
top,FL250001,Mary Brown,FEMALE,South Korea,English,DevOps,40,1,64%
freq,1,2,115,68,215,112,94,190,23

In [6]:
data.shape

(1000, 12)

In [84]:
data.isna().sum()

freelancer_ID            0
name                     0
gender                   0
age                     30
country                  0
language                 0
primary_skill            0
years_of_experience     51
hourly_rate (USD)       94
rating                 101
is_active               89
client_satisfaction    176
dtype: int64

In [8]:
data.freelancer_ID.nunique()

1000

In [9]:
data.gender.nunique()

10

In [10]:
data.gender.value_counts()

gender
FEMALE    115
M         106
f         103
Male      103
MALE      102
male      100
m          99
Female     96
F          90
female     86
Name: count, dtype: int64

In [99]:
data.gender.replace(['FEMALE' , 'F' , 'f' , 'female'] , 'Female' , inplace = True)
data.gender.replace(['MALE' , 'M' , 'male' , 'm'] ,'Male' , inplace = True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14616\3387032921.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.gender.replace(['FEMALE' , 'F' , 'f' , 'female'] , 'Female' , inplace = True)

In [100]:
data.gender.value_counts()

gender
Male      510
Female    490
Name: count, dtype: int64

In [16]:
data.age.nunique()

41

In [43]:
data.age.isna().sum()

0

In [101]:
data.loc[data['age'].isna(), 'age'] = data.groupby('primary_skill')['age'].transform('mean')[data['age'].isna()]

In [102]:
data.age.isna().sum()

0

In [103]:
data.loc[data['years_of_experience'].isna() , 'years_of_experience'] = data.groupby('primary_skill')['years_of_experience'].transform('mean')[data['years_of_experience'].isna()]

In [104]:
data.years_of_experience.isna().sum()

0

In [49]:
data.age.value_counts()

age
21.000000    34
36.000000    30
47.000000    29
56.000000    29
52.000000    28
50.000000    28
34.000000    28
31.000000    28
57.000000    27
22.000000    27
48.000000    27
51.000000    27
46.000000    26
59.000000    26
53.000000    26
41.000000    25
58.000000    25
20.000000    25
54.000000    24
37.000000    24
33.000000    24
42.000000    24
38.000000    24
35.000000    24
26.000000    22
45.000000    22
49.000000    21
55.000000    21
32.000000    21
60.000000    21
24.000000    20
25.000000    20
29.000000    20
44.000000    20
43.000000    20
40.000000    20
27.000000    19
23.000000    18
39.000000    17
30.000000    16
28.000000    13
38.309524     5
39.234043     4
43.553191     3
40.319149     2
39.906977     2
40.581395     2
40.952381     2
40.395833     1
41.466667     1
41.022727     1
37.843137     1
41.402985     1
40.822222     1
39.944444     1
41.891304     1
42.097561     1
40.204082     1
Name: count, dtype: int64

In [51]:
data.columns

Index(['freelancer_ID', 'name', 'gender', 'age', 'country', 'language',
       'primary_skill', 'years_of_experience', 'hourly_rate (USD)', 'rating',
       'is_active', 'client_satisfaction'],
      dtype='object')

In [53]:
data.loc[: , 'hourly_rate (USD)'].value_counts()

hourly_rate (USD)
40         94
100        80
50         78
75         77
30         70
20         66
$20        43
$30        40
USD 30     40
$100       40
$40        39
$50        39
USD 40     38
USD 100    37
USD 50     35
USD 20     33
USD 75     31
$75        26
Name: count, dtype: int64

In [107]:
data['hourly_rate (USD)']

0       100
1       100
2        50
3        40
4        30
       ...
995     100
996      40
997      75
998     100
999      20
Name: hourly_rate (USD), Length: 1000, dtype: object

In [114]:
data['hourly_rate (USD)']=data['hourly_rate (USD)'].astype('float')

In [106]:
data['hourly_rate (USD)'] = data['hourly_rate (USD)'].replace([r'\$', 'USD'] , '' , regex = True)

In [116]:
data['hourly_rate (USD)'].isna().sum()

0

In [115]:
data.loc[data['hourly_rate (USD)'].isna() , 'hourly_rate (USD)'] = data.groupby('primary_skill')['hourly_rate (USD)'].transform('mean')[data['hourly_rate (USD)'].isna()]

In [117]:
data.loc[data['rating'].isna() , 'rating'] = data.groupby('primary_skill')['rating'].transform('mean')[data['rating'].isna()]

In [118]:
data.rating.isna().sum()

0

In [119]:
data.is_active.isna().sum()

89

In [124]:
data.is_active.replace(['N' , 'False' , 'no'] , 0 , inplace = True)
data.is_active.replace(['Y' , 'True' , 'yes'] , 1 , inplace = True)

In [127]:
data.is_active.replace('0' , 0 , inplace = True)
data.is_active.replace('1' , 1 , inplace = True)

In [128]:
data.is_active.value_counts()

is_active
0.0    465
1.0    446
Name: count, dtype: int64

In [130]:
data.loc[data['is_active'].isna() , 'is_active'] = data.groupby('country')['is_active'].transform('mean')[data['is_active'].isna()]

In [134]:
data.is_active.isna().sum()

0

In [138]:
data.client_satisfaction =data.client_satisfaction.astype('float')

In [137]:
data.client_satisfaction = data.client_satisfaction.replace(r'\%' , '' , regex=True)

In [139]:
data.client_satisfaction.mean()

79.26941747572816

In [141]:
data.loc[data['client_satisfaction'].isna() , 'client_satisfaction'] = data.groupby('primary_skill')['client_satisfaction'].transform('mean')[data['client_satisfaction'].isna()]

In [142]:
data.client_satisfaction.isna().sum()

0

In [ ]:
import openpyxl

In [150]:
data.age = data.age.astype('int')

In [151]:
data['hourly_rate (USD)'] = data['hourly_rate (USD)'].astype('int')

In [152]:
data.rating = data.rating.astype('int')

In [153]:
data.is_active = data.is_active.astype('int')

In [154]:
data.client_satisfaction = data.client_satisfaction.astype('int')

In [157]:
data.years_of_experience = data.years_of_experience.astype('int')

In [158]:
data.to_excel('cleaned_data.xlsx' , index = False)